In [5]:
import pandas as pd
import csv

data = pd.read_csv('FilteredMainTable.csv', delimiter=',')

students = [14337, 14332, 14470, 6048, 14379, 14372, 10385, 14347, 14334, 14450, 14497, 13426, 14210, 14205, 14368, 9217, 14360, 14371, 9453, 14163, 14235, 13504, 14238, 14478, 14433, 14505, 14300, 14436, 14222, 14411, 14452, 14173, 14395, 14462, 14225, 10358, 14413, 13463, 14302, 10319, 14208, 10309, 14398, 10276, 14279, 14404, 14278, 714, 14314, 14335, 263, 14288, 14498, 10405, 14458, 14403, 14496, 9948, 13402, 14420, 14471, 14310, 13602, 14144, 13830, 14226, 14194, 14495, 14393, 14399, 14438, 14192, 14501, 14325, 14178, 4419, 14389, 14232, 14277, 6493, 14441, 14195, 14463, 13513, 6986, 10155, 14354, 14417, 10115, 10098, 14340, 14381, 14365, 14212, 14483, 14419, 14492, 14447, 13658, 14207]
data = data[data['AnonID'].isin(students)]

data.head(3)

,AnonID,Timestamp,Assessment,ProblemName,TransactionID,Score,CodeStateID,SessionID,MaxScore,Input,SubmissionNumber
0,14398,2019-02-20T17:40:39,439.0,13,13-49557,0.0,1717563,0,1,"public int caughtSpeeding(int speed, boolean i...",1
7,14365,2019-02-20T21:13:37,439.0,13,13-49664,0.0,1718036,0,1,"public int caughtSpeeding(int speed, boolean i...",1
8,14365,2019-02-20T21:14:30,439.0,13,13-49674,0.0,1718040,0,1,"public int caughtSpeeding(int speed, boolean i...",2

In [6]:
state_id = '#C' + data['CodeStateID'].astype(str)
code_input = data['Input']
state_length = state_id.__len__()
eof = ['EOF' for _ in range(state_length)]

txt_content = pd.DataFrame.from_dict({'id':state_id, 'code':code_input, 'eof': eof})

txt_content = txt_content.stack().reset_index(drop=True).to_frame()
txt_content.head(10)

                                                   0
0                                          #C1717563
1  public int caughtSpeeding(int speed, boolean i...
2                                                EOF
3                                          #C1718036
4  public int caughtSpeeding(int speed, boolean i...
5                                                EOF
6                                          #C1718040
7  public int caughtSpeeding(int speed, boolean i...
8                                                EOF
9                                          #C1718046

In [7]:
txt_content.to_csv('hundred_students.txt', index=False, header=False, quoting=csv.QUOTE_NONE, quotechar="",  escapechar=" ")